flex4/flex4-integration/src/main/xsd/flex-config.xsd

<!-- written by mb0, Martin Schnabel -->
<!-- documentation strings taken from http://opensource.adobe.com/svn/opensource/flex/sdk/trunk/modules/antTasks/scratch/options -->
<!-- please extend and send patches to http://axdt.org -->
<schema targetNamespace="http://www.adobe.com/2006/flex-config" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fc="http://www.adobe.com/2006/flex-config">
	<element name="flex-config" type="fc:ct_flex-config" />
	<complexType name="ct_flex-config">
		<choice minOccurs="0" maxOccurs="unbounded">
			<any processContents="skip" namespace="##local"/>
			<element name="default-size" type="fc:ct_default-size"/>
			<element name="default-background-color"/>
			<element name="compiler" type="fc:ct_compiler"/>
			<element name="default-frame-rate" type="nonNegativeInteger"/>
			<element name="compute-digest" type="boolean"/>
			<element name="runtime-shared-libraries" type="fc:ct_runtime-shared-libraries"/>
			<element name="runtime-shared-library-path" type="fc:ct_runtime-shared-library-path"/>
			<element name="static-link-runtime-shared-libraries" type="boolean"/>
			<element name="use-network" type="boolean">
				<annotation><documentation>toggle whether the SWF is flagged for access to network resources</documentation></annotation>
			</element>
			<element name="target-player" type="string">
				<annotation><documentation>specifies the version of the player the application is targeting. Features requiring a later version will not be compiled into the application. The minimum value supported is "9.0.0"</documentation></annotation>
			</element>
			<element name="raw-metadata" type="string">
				<annotation><documentation>XML text to store in the SWF metadata (overrides metadata.* configuration)</documentation></annotation>
			</element>
			<element name="metadata" type="fc:ct_metadata"/>
			<element name="include-file"/>
			<element name="licenses" type="fc:ct_licenses"/>
		</choice>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_licenses">
		<choice minOccurs="0" maxOccurs="unbounded">
			<any processContents="skip" namespace="##local"/>
			<element name="license" type="fc:ct_license"/>
		</choice>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_license">
		<all>
			<element name="product" type="string"/>
			<element name="serial-number" type="string"/>
		</all>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_compiler">
		<choice minOccurs="0" maxOccurs="unbounded">
			<any processContents="skip" namespace="##local"/>
			<element name="accessible" type="boolean">
				<annotation><documentation>generate an accessible SWF</documentation></annotation>
			</element>
			<element name="locale" type="fc:ct_locale" />
			<element name="allow-source-path-overlap" type="boolean"/>
			<element name="show-actionscript-warnings" type="boolean">
				<annotation><documentation>runs the AS3 compiler in a mode that detects legal but potentially incorrect code</documentation></annotation>
			</element>
			<element name="debug" type="boolean">
				<annotation><documentation>generates a movie that is suitable for debugging</documentation></annotation>
			</element>
			<element name="external-library-path" type="fc:ct_path_elements">
				<annotation><documentation>list of SWC files or directories to compile against but to omit from linking</documentation></annotation>
			</element>
			<element name="keep-generated-actionscript" type="boolean">
				<annotation><documentation>save temporary source files generated during MXML compilation</documentation></annotation>
			</element>
			<element name="library-path" type="fc:ct_path_elements"/>
			<element name="source-path" type="fc:ct_path_elements">
				<annotation><documentation>list of path elements that form the roots of ActionScript class hierarchies</documentation></annotation>
			</element>
			<element name="include-libraries"/>
			<element name="namespaces" type="fc:ct_namespaces"/>
			<element name="optimize" type="boolean">
				<annotation><documentation>Enable post-link SWF optimization</documentation></annotation>
			</element>
			<element name="keep-as3-metadata" type="fc:ct_keep-as3-metadata"/>
			<element name="show-binding-warnings" type="boolean"/>
			<element name="show-unused-type-selector-warnings" type="boolean"/>
			<element name="strict" type="boolean">
				<annotation><documentation>runs the AS3 compiler in strict error checking mode.</documentation></annotation>
			</element>
			<element name="as3" type="boolean">
				<annotation><documentation>use the ActionScript 3 class based object model for greater performance and better error reporting. In the class based object model most built-in functions are implemented as fixed methods of classes.</documentation></annotation>
			</element>
			<element name="es" type="boolean">
				<annotation><documentation>use the ECMAScript edition 3 prototype based object model to allow dynamic overriding of prototype properties. In the prototype based object model built-in functions are implemented as dynamic properties of prototype objects.</documentation></annotation>
			</element>
			<element name="theme">
				<annotation><documentation>list of CSS or SWC files to apply as a theme</documentation></annotation>
			</element>
			<element name="verbose-stacktraces" type="boolean"/>
			<element name="actionscript-file-encoding" type="string">
				<annotation><documentation>specifies ActionScript file encoding. If there is no BOM in the AS3 source files, the compiler will use this file encoding.</documentation></annotation>
			</element>
			<element name="fonts" type="fc:ct_fonts"/>
			<group ref="fc:g_warn"/>
		</choice>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_metadata">
		<choice minOccurs="0" maxOccurs="unbounded">
			<any processContents="skip" namespace="##local"/>
			<element name="title" type="string"/>
			<element name="publisher" type="string"/>
			<element name="localized-title" type="fc:ct_localized-title"/>
			<element name="localized-description" type="fc:ct_localized-description"/>
			<element name="language" type="string"/>
			<element name="description" type="string"/>
			<element name="date" type="string"/>
			<element name="creator" type="string"/>
			<element name="contributor" type="string"/>
		</choice>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_localized-title">
		<all>
			<element name="title" type="string"/>
			<element name="lang" type="string"/>
		</all>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_localized-description">
		<all>
			<element name="text" type="string"/>
			<element name="lang" type="string"/>
		</all>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_locale">
		<sequence>
			<element name="locale-element" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_path_elements">
		<sequence>
			<element name="path-element" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="append" type="boolean" />
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_namespaces">
		<choice minOccurs="0" maxOccurs="unbounded">
			<any processContents="skip" namespace="##local"/>
			<element name="namespace" type="fc:ct_namespace"/>
		</choice>
	</complexType>
	<complexType name="ct_namespace">
		<sequence>
			<element name="uri"/>
			<element name="manifest" maxOccurs="unbounded"/>
		</sequence>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_keep-as3-metadata">
		<sequence>
			<element name="name" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_fonts">
		<choice minOccurs="0" maxOccurs="unbounded">
			<any processContents="skip" namespace="##local"/>
			<element name="advanced-anti-aliasing" type="boolean"/>
			<element name="max-cached-fonts" type="int"/>
			<element name="max-glyphs-per-face" type="int"/>
			<element name="languages" type="fc:ct_languages"/>
			<element name="managers" type="fc:ct_managers"/>
			<element name="local-fonts-snapshot"/>
		</choice>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_languages">
		<choice minOccurs="0" maxOccurs="unbounded">
			<any processContents="skip" namespace="##local"/>
			<element name="language-range" type="fc:ct_language-range"/>
		</choice>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_language-range">
		<all>
			<element name="lang"/>
			<element name="range"/>
		</all>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_managers">
		<sequence>
			<element name="manager-class" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_default-size">
		<all>
			<element name="width" type="positiveInteger"/>
			<element name="height" type="positiveInteger"/>
		</all>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_runtime-shared-libraries">
		<sequence>
			<element name="url" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<anyAttribute processContents="lax"/>
	</complexType>
	<complexType name="ct_runtime-shared-library-path">
		<sequence>
			<element name="path-element"/>
			<sequence maxOccurs="unbounded">
				<element name="rsl-url"/>
				<element name="policy-file-url" minOccurs="0"/>
			</sequence>
		</sequence>
		<anyAttribute processContents="lax"/>
	</complexType>
	<group name="g_warn">
		<choice>
			<element name="warn-array-tostring-changes" type="boolean"/>
			<element name="warn-assignment-within-conditional" type="boolean"/>
			<element name="warn-bad-array-cast" type="boolean"/>
			<element name="warn-bad-bool-assignment" type="boolean"/>
			<element name="warn-bad-date-cast" type="boolean" />
			<element name="warn-bad-es3-type-method" type="boolean" />
			<element name="warn-bad-es3-type-prop" type="boolean" />
			<element name="warn-bad-nan-comparison" type="boolean" />
			<element name="warn-bad-null-assignment" type="boolean" />
			<element name="warn-bad-null-comparison" type="boolean" />
			<element name="warn-bad-undefined-comparison" type="boolean" />
			<element name="warn-boolean-constructor-with-no-args" type="boolean" />
			<element name="warn-changes-in-resolve" type="boolean" />
			<element name="warn-class-is-sealed" type="boolean" />
			<element name="warn-const-not-initialized" type="boolean" />
			<element name="warn-constructor-returns-value" type="boolean" />
			<element name="warn-deprecated-event-handler-error" type="boolean" />
			<element name="warn-deprecated-function-error" type="boolean" />
			<element name="warn-deprecated-property-error" type="boolean" />
			<element name="warn-duplicate-argument-names" type="boolean" />
			<element name="warn-duplicate-variable-def" type="boolean" />
			<element name="warn-for-var-in-changes" type="boolean" />
			<element name="warn-import-hides-class" type="boolean" />
			<element name="warn-instance-of-changes" type="boolean" />
			<element name="warn-internal-error" type="boolean"  />
			<element name="warn-level-not-supported" type="boolean" />
			<element name="warn-missing-namespace-decl" type="boolean" />
			<element name="warn-negative-uint-literal" type="boolean" />
			<element name="warn-no-constructor" type="boolean" />
			<element name="warn-no-explicit-super-call-in-constructor" type="boolean" />
			<element name="warn-no-type-decl" type="boolean" />
			<element name="warn-number-from-string-changes" type="boolean" />
			<element name="warn-scoping-change-in-this" type="boolean" />
			<element name="warn-slow-text-field-addition" type="boolean" />
			<element name="warn-unlikely-function-value" type="boolean" />
			<element name="warn-xml-class-has-changed" type="boolean" />
		</choice>
	</group>
</schema>